/* Normalize.css is used to override the default styles applied by web browsers */

/* GLOBAL SELECTORS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

/* Font smoothing */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Page body */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystem, 'SegoeUI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

/* Reactive medias */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Forms */
input, button, textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Lists */
ul, ol {
    list-style: none;
}

/* Titles & paragraphs */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}